<div class="carousel">

  <div class="movie-genre">
    <h2>{{genre}}</h2>
  </div>

  <div class="flex">
    <app-carousel-card *ngFor="let movie of movies" [movie]="movie" [click]="(movie === lastShowMovie)" (click)="onClickMovieCarouselCard(movie)"></app-carousel-card>
  </div>

  <div class="movies-details" *ngIf="showMovieDetail">

    <img [ngClass]="{'blur': detailsClick}" class="bg-img" src="{{lastShowMovie.imgBigSrc}}" alt="">

    <div class="content-details">
      <div class="details-title">
        <button [ngClass]="{'clickBtn': !aboutClick }" (click)="aboutBtnClick()">О фильме</button>
        <button [ngClass]="{'clickBtn': !detailsClick }" (click)="detailsBtnClick()">Детали</button>
        <button class="close-details-page" (click)="closeDetail()">X</button>
      </div>

      <div class="movie-about-data" *ngIf="aboutClick">
        <img class="img" src="../../../assets/images/mivoes_logo_png/orig.png" alt="">
        <p [ngStyle]="{'font-size': '16px'}">
          <span [ngStyle]="{'color': setRating(lastShowMovie.rating)}">{{lastShowMovie.rating}}</span>
          <span> {{lastShowMovie.date.getFullYear()}},</span>
          <span> боевик, комедия, </span>
          <span>США </span>
          <span>1 ч 48 мин</span>
        </p>
        <p class="movie-title1">Успешное возвращение Гая Ричи к корням — острая и живая криминальная комедия с блестящим актерским составом</p>

        <div class="btns-box">
          <button class="watch-movie">
            <mat-icon>play_arrow</mat-icon>
            <span>Смотреть</span>
          </button>
          <button class="action-btns">
            <mat-icon>bookmark</mat-icon>
          </button>
          <button class="action-btns">
            <mat-icon>videocam</mat-icon>
          </button>
        </div>
      </div>

      <div class="movie-about-data width-sz" *ngIf="detailsClick">
        <div [ngStyle]="{'width': '642px', 'margin-top': '80px'}">
          <img class="img change-sz" src="../../../assets/images/mivoes_logo_png/orig.png" alt="">
          <div>
            <span [ngStyle]="{'color': setRating(lastShowMovie.rating), 'font-size': '18px', 'font-weight': 'bold'}">{{lastShowMovie.rating}}</span>
          </div>
          <div>485219 оценок</div>
          <p class="movie-title1">Ушлый наркоторговец придумал схему нелегального обогащения — с использованием поместий обедневшей английской аристократии. На успешный бизнес заглядываются партнер-еврей, китайская диаспора, темнокожие спортсмены и русский олигарх.</p>
        </div>
        <div class="players-list">
          <div class="child1">
            <div>В главных ролях</div>
            <ul>
              <li>Мэттью МакКонахи</li>
              <li>Чарли Ханнэм</li>
              <li>Генри Голдинг</li>
              <li>Хью Грант</li>
              <li>Мишель Докери</li>
              <li>Джереми Стронг</li>
              <li>Эдди Марсан</li>
              <li>Джейсон Вонг</li>
              <li>Колин Фаррелл</li>
              <li>Лайн Рени</li>
            </ul>
            <div>Режиссёры</div>
            <ul>
              <li>Гай Ричи</li>
            </ul>
          </div>
          <div class="child2">
            <div>Аудиодорожки</div>
            <ul>
              <li>Русский 5.1</li>
              <li>Русский 5.1 (Кубик в Кубе)</li>
              <li>Английский 5.1</li>
            </ul>

            <div>Субтитры</div>
            <ul>
              <li>Русские</li>
              <li>Русский 5.1 (Кубик в Кубе)</li>
              <li>Английский 5.1</li>
            </ul>

            <div>Оригинальное название</div>
            <ul>
              <li>The Gentlemen</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
