<div class="editorials-list">
  <h2>Editorial shelves</h2>

  <div class="flex">

    <div class="card" *ngFor="let editor of editorialList">

      <div class="card-img" [ngStyle]="{'background-image': 'url(' + editor.photoUrl + ')'}">

        <div class="black-fon">
          <p>{{editor.name | titlecase}}</p>
        </div>

      </div>

      <div class="card-footer">

        <div class="logo-box">

          <div class="logo-img">
            <img [src]="editor.userImg" alt="Marvel logo img">
          </div>
          <span>{{editor.username}}</span>

        </div>

        <div class="actions">
          <span>{{editor.movieCount}}</span>
          <span style="margin-left: 10px">{{editor.subscriber | converternumber}}</span>
        </div>

      </div>
    </div>
  </div>
</div>
