.editorial-carousel {
  margin-top: 50px;
  height: 340px;
  max-width: 100%;
  background-color: black;
  overflow: hidden;
}

.flex {
  width: 3000px;
  display: flex;
}

.movie {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  background-color: aqua;
}

.img {
  img {
    height: 247px;
  }
}
