<div class="editorial-carousel">
  <button class="left" (click)="prevMovie()">
    <mat-icon class="icon" aria-hidden="false" aria-label="keyboard_arrow_left">keyboard_arrow_left</mat-icon>
  </button>
  <div class="flex">

      <div class="movie" *ngFor="let movie of movies" [ngStyle]="{'transform': 'translateX(-' + total + '%)', 'background-color': movie.fon, 'background': movie.gradient}">
        <div class="img">
          <img [src]="movie.movie.imgSrc" [alt]="movie.movie.name + 'image'">
        </div>
        <div class="texts">
          <p class="title">{{movie.movie.name}}</p>
          <p>Первым серьезным успехом для вселенной Marvel был «Железный человек». Но рекорд по кассовым сборам (лидерство среди всей супергероики и десятое место в общем зачете) до сих пор занимают «Мстители». Этому блокбастеру повезло с командой персонажей, с сюжетом и со злодеем.</p>
          <p>{{ movie.movie.date | date }}</p>
        </div>
      </div>

  </div>
  <button class="right" (click)="nextMovie()">
    <mat-icon class="icon" aria-hidden="false" aria-label="keyboard_arrow_right">keyboard_arrow_right</mat-icon>
  </button>
</div>
