<main>
  <div class="wrapper">


    <form [formGroup]="formEditor">

      <input type="text" formControlName="title" placeholder="Title" required>

      <input type="text" formControlName="photoUrl" placeholder="Image url" required>

      <input type="text" formControlName="price" placeholder="Price" required>

      <div formArrayName="movieIds">
        <h3>Movies</h3> <button (click)="addMovieIds()">Add Alias</button>

        <div *ngFor="let movieId of movieIds.controls; let mi = index">
          <label>
            MovieId - {{mi}}:
            <input type="text" [formControlName]="mi">
          </label>
        </div>
      </div>

      <div formArrayName="texts">
        <h3>Texts</h3> <button (click)="addTexts()">Add Text</button>

        <div *ngFor="let text of texts.controls; let ti = index">
          <label>
            Text-{{ti}}:
            <input type="text" [formControlName]="ti">
          </label>
        </div>
      </div>

<!--      <input type="text" *ngFor="let mf of movieIds" [formControlName]="mf" required>-->

<!--      <input type="text" *ngFor="let mt of texts" [formControlName]="mt" required>-->
    </form>

  </div>
</main>
