<main>
  <div class="wrapper">

    <div class="content">

      <h1>New Editor</h1>

      <form [formGroup]="formEditor">

        <label>Title: 
          <input type="text" formControlName="title" placeholder="Title" required>
        </label>
        
        <label>Image url:
        <input type="text" formControlName="photoUrl" placeholder="Image url" required>
        </label>
        
        <div formArrayName="movieIds">
          <h3>Movies</h3>
  
          <div *ngFor="let movieId of movieIds.controls; let mi = index">
            <label>
              MovieId - {{mi}}:
              <input type="text" [formControlName]="mi">
            </label>
          </div>

          <button (click)="addMovieIds()">Add Alias</button>
        </div>
  
        <div formArrayName="texts">
          <h3>Texts</h3>
  
          <div *ngFor="let text of texts.controls; let ti = index">
            <label>
              Text-{{ti}}:
              <input type="text" [formControlName]="ti">
            </label>
          </div>
        </div>

        <button (click)="save()">Save</button>
      </form>
    
    </div>  
    

  </div>
</main>
