<main>
  <div class="wrapper">
    <div class="profile-flex-box">

      <div class="profile-title-box">
        <div class="profile-image">
          <img src="../../assets/images/avatars/Kiba.jpg" alt="profile image">
        </div>
        <p>Yerbolat Pazyl</p>
        <p>@snicos</p>
        <div class="profile-subs-flex">
          <div class="child l">
            <strong>26</strong>
            text text
          </div>
          <div class="child r">
            <strong>35</strong>
            text text
          </div>
        </div>
      </div>

      <div class="profile-basic-info">

        <div class="profile-nav-bar">
          <mat-chip-list>
            <mat-chip>Continue watching</mat-chip>
            <mat-chip>My movies</mat-chip>
            <mat-chip>My favorite movies</mat-chip>
            <mat-chip>My Editorials</mat-chip>
          </mat-chip-list>
        </div>

        <div class="profile-info-box">
          <router-outlet></router-outlet>
        </div>

      </div>

    </div>
  </div>
</main>
