<main>
  <div class="wrapper">
    <div class="profile-flex-box">

      <div class="profile-title-box">
        <div class="profile-image">
          <img src="../../assets/images/avatars/Kiba.jpg" alt="profile image">
        </div>
        <p>Yerbolat Pazyl</p>
        <p>@snicos</p>
        <div class="profile-subs-flex">
          <div class="child l">
            <strong>26</strong>
            text text
          </div>
          <div class="child r">
            <strong>35</strong>
            text text
          </div>
        </div>
      </div>

      <div class="profile-content">

        <div class="profile-menu-header">
          <div>Continue watching</div>
          <div>My movies</div>
          <div>My favorite movies</div>
          <div>My Editorials</div>
        </div>

      </div>

    </div>
  </div>
</main>
