<main>
  <app-carousel [genre]="'New films'" [movies]="inputChildData.arrMovies3" [checkGenre]="status" (getGenre)="checkGenreF($event)"></app-carousel>
  <app-carousel [genre]="'Populars'" [movies]="inputChildData.arrMovies1" [checkGenre]="status" (getGenre)="checkGenreF($event)"></app-carousel>
  <app-carousel [genre]="'Хаяо Миядзаки и студия Ghibli'" [movies]="inputChildData.arrMovies3" [checkGenre]="status" (getGenre)="checkGenreF($event)"></app-carousel>
  <app-carousel [genre]="'Умная фантастика'" [movies]="inputChildData.arrMovies1" [checkGenre]="status" (getGenre)="checkGenreF($event)"></app-carousel>
</main>
