<main>
  <app-carousel [genre]="'New films'" [movies]="inputData1" [checkGenre]="status" (getGenre)="checkGenreF($event)"></app-carousel>
  <app-carousel [genre]="'Populars'" [movies]="inputData2" [checkGenre]="status" (getGenre)="checkGenreF($event)"></app-carousel>
  <app-carousel [genre]="'Хаяо Миядзаки и студия Ghibli'" [movies]="inputData3" [checkGenre]="status" (getGenre)="checkGenreF($event)"></app-carousel>
  <app-carousel [genre]="'Умная фантастика'" [movies]="inputData4" [checkGenre]="status" (getGenre)="checkGenreF($event)"></app-carousel>
</main>
